body {
  font: normal 16px Arial;
  background: cadetblue;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  padding: 4vw 6vw;
  font-size: 5vw;
  border-radius: 12px;
  border: none;
}

button:active {
  transform: scale(1.1);
}

#fruitimg {
  font-size: 20vw;
}

#fruitmsg {
  color: blue;
  font-size: 7vw;
}

#fruitimg, button {
  transition: transform 0.1s ease;
}