body {
  font: normal 14px Arial;
  background: cadetblue;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  padding: 14px 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
}

button:active {
  transform: scale(1.1);
}

#fruitimg {
  font-size: 15vw;
}

#fruitmsg {
  color: blue;
  font-size: 6vw;
}

#fruitimg, button {
  transition: transform 0.1s ease;
}

@media (max-width: 600px) {
  button {
    width: 80%;
    font-size: 1.5rem;
  }

  #fruitmsg {
    font-size: 7vw;
  }
}