
button {
  padding: clamp(8px, 2vw, 18px) clamp(16px, 4vw, 28px);
  font-size: clamp(14px, 4vw, 22px);
  border-radius: 18px;
  border: none;
  width: 200px;
  height: 70px;
  color: #2c2c2c;
  cursor: pointer;
  transition: transform 0.2s ease;
}